    <!-- Page Content -->
<div class="container">
    <div class="row">
      <center>
      <br><br>
        <h1>Welcome to Mango!</h1>
        <h3>Search for any movie!</h3>
      </center>
    </div>
  <div class="container-fluid">
    <%= form_tag("/movies/search", method: 'get', class: "center-search") do %>
      <%= text_field_tag(:title) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

</div>