    <!-- Page Content -->
<div class="container">
    <div class="row">
      <h1>Rotten Mangoes</h1>
    </div>
  <div class="container-fluid">
    <%= form_tag("/movies/search", method: 'get', class: "center-search") do %>
      <%= text_field_tag(:title) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

</div>