<div class="container">
  <%= link_to "Back to all movies", movies_path %><br>
  <h1>Search Results</h1>

  <% if @movies.count > 0 %>
    <% @movies.each do |film| %>
      <%= render partial: 'movie', locals: {movie: film} %>
    <% end %>
    <%= paginate @movies %>
  <% else %>
    <p> There are no search results </p>
  <% end %>
</div>