// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  a {

    .fa {
      text-decoration: none;
      color: white;
    }
  }

  .form-text {
    color: black;
  }

  form {
    color: black;
  }