// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E55155;
  height: 100%;
  color: white;
}

form {
  color: black;
}

.navbar {
  padding-top: 20px;
}

.nav-link{
  border: 2px solid white;
  padding: 12px;
  margin-right: 10px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 200;



  a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;

    :hover {
      background-color: #D54C50;
    }

    .fa-chevron-left{
      text-decoration: none;
      color: white;
    }
  }


}

.admin-tab {
  background-color: white;

  a {
    color: #E55155;
  }
}

.navbar-fixed-top {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  a {
    color: white;
  }
}

.row {
  float: none;
}

.center-search{
  text-align:center;
  padding-top: 10%;
  background-color: #E55155;
  font-size: 2em;

  input[type="text"], textarea {
    background-color: #D54C50;
    border: 4px solid white;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  input {
    outline: none;
  }

  input[type='submit'] {
    background-color: white;
    color: #E55155;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.center-y{
  vertical-align:50%;
  height: 50%
}

.pretty-form{
  text-align:left;
  padding-top: 10%;
  background-color: #E55155;
  font-size: 2em;

  input[type="text"], textarea {
    background-color: #D54C50;
    border: 4px solid white;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

  input {
    outline: none;
  }

  input[type='submit'] {
    background-color: white;
    color: #E55155;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}

#back-button {
  position: absolute;
  color: white;
  font-size: 3em;
  top: 50%;
  padding-left: 50px;
  cursor: pointer;
}

